@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
section[epub|type~="halftitlepage"] span[epub|type~="subtitle"]{
	display: block;
	font-size: .75em;
	font-weight: normal;
}

#faces p + p{
	margin-top: 1em;
}